{% extends "basic/base.html" %}  
{%block title%} Log In {%endblock%}

{%block css%} 
.top{
    font-size: 8vh;
    margin-bottom: 2vh;
    padding: 0;
}

.content{
    flex-direction: column;
    align-items: center;
}

{%endblock%}

{% block content%}
{% if user.is_authenticated %}
<p>You're already logged in</p>
{% else %}
<p class = 'top'>Log In</p>
    <form action="." method="post" class = 'fok'>
        {% csrf_token %}
        {{user_form.as_p}}
        <p><input type="submit" value="Log In"></p>
    </form>
{% endif %}
{%endblock%}