{% extends "basic/base.html" %}  
{%block title%} Navigation Page {%endblock%}
{%block css%} 
.content{
    flex-direction: column;
    align-items: center;
}
li a{
    font-size: 3vh;
}
{%endblock%}
{% block content%}

{% if user.is_authenticated %}
<p style = 'font-size: 5vh; margin-bottom: 2vh;'>HI, {{user.username}}!</p>
{%endif%}

<ul>

<li><a href = '/mainapp/main/'>Main Page</a></li>
<li><a href = '/mainapp/news/'>News List</a></li>
<li><a href = ''>Navigation Page</a></li>
<li><a href = '/mainapp/livechat/'>Live Chat</a></li>
{% if not user.is_authenticated %}
<li><a href = '/mainapp/register/'>Regestration</a></li>
<li><a href = '/mainapp/login/'>Log In</a></li>
{%endif%}
{% if user.is_authenticated %}
<li><a href="">My Account</a></li>
<li><a href = '/mainapp/logout/'>Log Out</a></li>
{%endif%}

</ul>

{%endblock%}