{% extends "basic/base.html" %}  
{%block title%} {{post.title}} {%endblock%}

{%block css%} 
html,body{
    background: #e1e1e1;
}
.content{
    width: 70%;
    margin: 0px auto;
    padding: 0px 20px;
    flex-direction: column;
    background: #EEEEEE;
}
.block{
    display: flex;
    width: 100%;
    margin: 40px auto;
    height: 20vh;
    flex-shrink: 0;
    border-color: #FFA00D;
    border-style: solid; 
    border-width: 2px;
    flex-direction: column;
}
{%endblock%}

{%block content%}
<p>{{post.title}}</p>
<p>{{post.text}}</p>
{%if post.image%}
<img src = '{{post.image.url}}'>
{% endif %}
{%endblock%}